{% extends 'main.html' %}
{% block main %}
    {{ block.super }}
    {% block carousel %}

    {% endblock %}
    <div class="bg-index position-relative w-100">
        <div class="d-flex justify-content-center flex-column text-center">
            <h1 CLASS="display-1 fw-medium mt-5"><strong>MARABANA 2023</strong></h1>
            <br>
            <h1 class="display-2">19 de noviembre</h1>
            <br>
            <h1 class="display-3">37ª edición Marabana Cuba</h1>
            <br><br>
            <div>
                <button class="btn fs-2 btn-lg btn-info rounded-0 text-uppercase">Inscríbete ya!</button>
            </div>
            <br>
        </div>
    </div>
    <br>
    <section class="section-products">
        <div class="container">
            <div>
                <h3>{{ text }}</h3>
            </div>
            <br>
            <div class="row g-3 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                {% for object in object_list|slice:5 %}
                    {% include 'components/card-product.html' %}
                {% endfor %}
            </div>
            <br>
            <div class="text-center">
                <a href="{{ add_url }}" class="btn btn-primary btn-lg"><i class="bx bx-plus"></i> Crear</a>
            </div>
            <hr>
        </div>
    </section>
{% endblock %}