{% extends 'components/table-list.html' %}

{% block search %}
    <form action="">
        <div class="input-group mb-3">
            <input type="search" name="search" list="datalistOptions" class="form-control"
                   placeholder="Buscar por título">
            <datalist id="datalistOptions">
                {% for object in object_list|slice:4 %}
                    <option value="{{ object }}">
                {% endfor %}
            </datalist>
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
        </div>
    </form>
{% endblock %}
{% block thead %}
    <th>Título</th>
    <th>Texto</th>
    <th>Opciones</th>
    {% block extra_thead %}

    {% endblock %}
{% endblock %}

{% block tbody %}
    {% for object in object_list %}
        <tr class="">
            <td>{{ object.title }}</td>
            <td>{{ object.text }}</td>

            {% block extra_tbody %}

            {% endblock %}
            <td>
                <a href="{{ update_url }}{{ object.pk }}" title="Editar" class="btn btn-outline-warning"><i
                        class="bx bx-edit"></i></a>
                <a href="{{ delete_url }}{{ object.pk }}" class="btn btn-outline-danger" title="Eliminar"><i
                        class="bx bx-trash"></i></a>
            </td>
        </tr>
    {% endfor %}

{% endblock %}