{% extends 'main.html' %}
{% block main %}
    {% block carousel %}

    {% endblock %}
    {% load widget_tweaks %}
    <section class="section-create-update">
        <div class="container-lg">
            <div>
                <h3>{{ text }}</h3>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    {% if form.errors %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <h4>Por favor corrige los errores en el formulario.</h4>
                        </div>
                    {% endif %}


                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.name.id }}"
                                           class="form-label mt-4">{{ form.name.label }}</label>
                                    {{ form.name|add_class:'form-control' }}
                                    {% if form.name.errors %}
                                        <small class="text-danger">{{ form.name.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.last_name.id }}"
                                           class="form-label mt-4">{{ form.last_name.label }}</label>
                                    {{ form.last_name|add_class:'form-control' }}
                                    {% if form.last_name.errors %}
                                        <small class="text-danger">{{ form.last_name.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="{{ form.address.id }}"
                                           class="form-label mt-4">{{ form.address.label }}</label>
                                    {{ form.address|add_class:'form-control'|attr:'rows:3' }}
                                    {% if form.address.errors %}
                                        <small class="text-danger">{{ form.address.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.country.id }}"
                                           class="form-label mt-4">{{ form.country.label }}</label>
                                    {{ form.country|add_class:'form-control' }}
                                    {% if form.country.errors %}
                                        <small class="text-danger">{{ form.country.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.postal_code.id }}"
                                           class="form-label mt-4">{{ form.postal_code.label }}</label>
                                    {{ form.postal_code|add_class:'form-control' }}
                                    {% if form.postal_code.errors %}
                                        <small class="text-danger">{{ form.postal_code.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.dni.id }}"
                                           class="form-label mt-4">{{ form.dni.label }}</label>
                                    {{ form.dni|add_class:'form-control'|attr:'type:number' }}
                                    {% if form.dni.errors %}
                                        <small class="text-danger">{{ form.dni.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.birth_date.id }}"
                                           class="form-label mt-4">{{ form.birth_date.label }}</label>
                                    {{ form.birth_date|add_class:'form-control'|attr:'type:date' }}
                                    {% if form.birth_date.errors %}
                                        <small class="text-danger">{{ form.birth_date.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.gender.id }}"
                                           class="form-label mt-4">{{ form.gender.label }}</label>
                                    {{ form.gender|add_class:'form-control' }}
                                    {% if form.gender.errors %}
                                        <small class="text-danger">{{ form.gender.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.phone.id }}"
                                           class="form-label mt-4">{{ form.phone.label }}</label>
                                    {{ form.phone|add_class:'form-control'|attr:'type:number' }}
                                    {% if form.phone.errors %}
                                        <small class="text-danger">{{ form.phone.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.email.id }}"
                                           class="form-label mt-4">{{ form.email.label }}</label>
                                    {{ form.email|add_class:'form-control'|attr:'type:email' }}
                                    {% if form.email.errors %}
                                        <small class="text-danger">{{ form.email.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.email_confirm.id }}"
                                           class="form-label mt-4">{{ form.email_confirm.label }}</label>
                                    {{ form.email_confirm|add_class:'form-control'|attr:'type:email' }}
                                    {% if form.email_confirm.errors %}
                                        <small class="text-danger">{{ form.email_confirm.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.average_time.id }}"
                                           class="form-label mt-4">{{ form.average_time.label }}</label>
                                    {{ form.average_time|add_class:'form-control' }}
                                    {% if form.average_time.errors %}
                                        <small class="text-danger">{{ form.average_time.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-column justify-content-end">
                                <div class="form-group ">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="{{ form.race_rules.id }}" name="race_rules">
                                        <label class="form-check-label" for="{{ form.race_rules.id }}">Acepto los
                                            términos del reglamento de la carrera.</label>
                                    </div>
                                    {% if form.race_rules.errors %}
                                        <small class="text-danger">{{ form.race_rules.errors }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="text-center">
                            <a href="{{ back_url }}" class="btn btn-lg btn-outline-secondary">Atrás</a>
                            <button type="submit" class="btn btn-lg btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}