{% extends 'components/table-list.html' %}

{% block search %}
    <form action="">
        <div class="input-group mb-3">
            <input type="search" name="search" list="datalistOptions" class="form-control"
                   placeholder="Buscar por usuario">
            <datalist id="datalistOptions">
                {% for object in object_list %}
                    <option value="{{ object }}">
                {% endfor %}
            </datalist>
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
        </div>
    </form>
{% endblock %}

{% block thead %}
    <th>Nombre de usuario</th>
    <th>Correo</th>
    <th>Opciones</th>
{% endblock %}

{% block tbody %}
    {% for object in object_list %}
        <tr class="">
            <td>{{ object.username }}</td>
            <td>{{ object.email }}</td>
            <td>
                <a href="{% url 'user-update' object.pk %}" title="Editar" class="btn btn-outline-warning"><i
                        class="bx bx-edit"></i></a>
                <a href="{% url 'user-delete' object.pk %}" class="btn btn-outline-danger" title="Eliminar"><i
                        class="bx bx-trash"></i></a>
            </td>
        </tr>
    {% endfor %}

{% endblock %}